<h5>Data Binding</h5>
<h5>String interploation</h5>
<p>{{defination}}</p>
<p>{{test()}}</p>

<h5>Property Binding</h5>
<input type="text" [placeholder]="placehv" [hidden]="isdisabled">   <!--style="visibility: hidden;"-->

<h5>Class Binding</h5>
<p [class] = "setClass()"> GeeksforGeeks</p>
<div [class]="isactive?'active':'inactive'">Colour will change by class depends on condition</div>    

<h5 [style]="{color:colorV}">Style Binding</h5>  <!--[style]="{color:color}" or style="color: red;" -->
<h6 [style.font-size]="fsize">Style Binding2</h6>

<h5>Event Binding</h5>
<p>Counter: {{countervalue}}</p>
<button (click)="increament()">Increment</button>
<button (click)="decreament()">Decreament</button>

<h5>Two Way Data Binding</h5>
City:<input type="text" name="value" [(ngModel)]="CityName">   <!--Nedd to import form model in app.module first-->
<button type="reset" (click)="Cityreset()">Update</button>
<p>{{CityName}}</p>  <!--This value coming from typescript file-->

<h5><u>Directives</u></h5>

<h5>1.Structural Directives</h5>
<h5>1.ngIf</h5>
<p *ngIf="!Capitals" else sample>{{Capitals}}</p>
<ng-template #sample>Helo world</ng-template>

<p *ngIf="Capitals; then sample2; else load"></p>
<ng-template #load>Hello World2</ng-template>
<ng-template #sample2>{{Capitals}}</ng-template>

<h5>2.ngFor</h5>
<table border="1">
    <tr>
        <td>Brand</td>
        <td>First</td>
        <td>Index</td>
        <td>Even</td>
        <td>Odd</td>
        <td>Last</td>
    </tr>
    <tr *ngFor="let m of Mobiles; first as f;index as i;even as e;odd as o;last as l">
        <td>{{m}}</td>
        <td>{{i}}</td>
        <td>{{f}}</td>
        <td>{{e}}</td>
        <td>{{o}}</td>
        <td>{{l}}</td>
    </tr>
</table>

<hr>
<h5>3.ngSwitch</h5>
Operation Type: <input type="text" [(ngModel)]="op">   <!--using two way Data Binding-->
<p>{{op}}</p>
 <div [ngSwitch]="op">
    <div *ngSwitchCase="'+'">{{num1}}+{{num2}}={{num1+num2}}</div>
    <div *ngSwitchCase="'-'">{{num1}}-{{num2}}={{num1-num2}}</div>
    <div *ngSwitchCase="'*'">{{num1}}*{{num2}}={{num1*num2}}</div>
    <div *ngSwitchCase="'/'">{{num1}}/{{num2}}={{num1/num2}}</div>
    <div *ngSwitchCase="'%'">{{num1}}%{{num2}}={{num1%num2}}</div>
    <div *ngSwitchDefault="">Invalid Operation</div>
</div> 
<hr>

<h5>2.Attribute Directives</h5>
<h5>ngClass</h5>
<div><div [ngClass]="{'changebackground' : ngtestclass === ''}">This directive dynamically binds one or more CSS classes to an HTML element</div>
    <input type="text" name="" id="ngClassstestt" placeholder="type to apply ndClass properties" [(ngModel)]="ngtestclass">   
</div>

<hr>
<h5>ngStyle</h5>
<div><button [ngStyle]="AddButtonCSSStyles()">Click Me </button></div>
<div *ngFor='let s of students'>
    <span [ngStyle] ="{'background-color':s.Gender === 'Male' ? 'red' : 'green'}">Name : {{s.Name}}, Gender: {{s.Gender}}, Branch: {{s.Branch}}</span>       
 </div>

<hr>
<h5>Pipes</h5>
<p class="text-capitalize">{{who | uppercase }}</p>
<p>{{who | titlecase }}</p>
<p>{{who | lowercase }}</p>
<p>{{salary | currency }}</p>
<p>{{salary | currency: 'INR'}}</p>
<p>{{dob}}</p>
<p>{{dob | date}}</p>
<p>{{dob | date : 'dd/MM/yyyy'}}</p>
<p>{{cgpa | percent }}</p>
<p>{{company}}</p>
<p>{{company | slice:0:7}}</p>

<hr>
<h5>Template Reference Variable</h5>
<input type="text" class="ipelm abf nav" id="elmip" value="@peopletech.com" #trvar>
<p>Value:{{trvar.value}} || id:{{trvar.id}} ||list:{{trvar.classList}}</p>
<hr>

<h5>Component Communication</h5>
<h5>1.Parent to Child</h5>
<h6>By using @Input()</h6>      <!--Header component-->
<p>{{Pdata}} (Parent Component)</p>
<app-header [d1]="Pdata" [p1]="Parr"></app-header>     <!--Binding the child element(header) to parent element(app)-->
<app-header [d1]="Pdata2" [p1]="Parr2"></app-header>   <!--Can assign diff values n no. of times to a single property-->

<hr>
<h5>2.Child To parent</h5>                            <!--Tester Component-->
<h6>a.By using @Output() & EventEmitter</h6>
<app-tester (msgEvent)="Pmessage=$event" #testerr></app-tester>   <!--Ignore the #tester property in this tag it is for next type-->
Message:{{Pmessage}}    <!--    Output and EventEmmittor value -->

<hr>
<h6>b.By using Temlate Reference Variable</h6>
<div>{{testerr.demoValue}}</div>
<div>{{testerr.Cmessage}}</div>
<hr>

<h6>c.By using Viewchild Decorator</h6>
<button (click)="show()">ViewChild Data</button>
<hr>

<h5>ng-content</h5>
<app-ngcontent>
    ng-content is used as a placeholder   <!--needs to place <ng-content></ng-content> in child component to display -->
    <div>{{nggreet}}</div>
</app-ngcontent>
<hr>
<!-- <app-ngcontent select=".app1">Rick</app-ngcontent> -->
<!-- <app-ngcontent select=".app2">DAryl</app-ngcontent> -->
<h5>ng_container</h5>
<app-container></app-container>
<hr>
<h5>Life Cycle Hooks</h5>
<h6>1.constructor:</h6><p>Invoked when angular creates component</p>
<hr>
<h6>2.ngOnChange</h6>
<app-home></app-home>
